@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather:wght@400&family=Roboto:wght@400&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-inter: 'Inter', sans-serif;
	--font-merriweather: 'Merriweather', serif;
	--font-roboto: 'Roboto', sans-serif;
	--color-tana-green: #004721;
}
